.today {
  border: none;
  border-radius: 1em;
}
button {
  padding: 5px 20px;
  color: darkgreen;
  background-color: yellowgreen;
  border-radius: 1em;
}
input[type=checkbox] {
  display: none; /* checkboxの標準のスタイルを無効化する */
}
input[type=checkbox]:checked + .label {
  color: gray; /* マウス選択時のフォント色を設定する */
  text-decoration: line-through; /* マウス選択時の取り消し線を設定する */
}
.label:hover + .destroy {
  font-size: 1.1em;
  color: lightsalmon;
  text-indent: 0%;
  white-space: none;
  overflow: none;
}
.destroy:hover {
  font-size: 1.1em;
  color: lightsalmon;
  text-indent: 0%;
  white-space: none;
  overflow: none;
}
.destroy {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.label:after, .label:before{
  position: absolute; /* ボックスの位置を指定する */
  content: ""; /* ボックスのコンテンツ */
  display: block; /* ブロックレベル要素化する */
  top: 50%; /* 上部から配置の基準位置を決める */
}
.label {
  position: relative; /* ボックスの位置を設定する */
  padding: 0 0 15px 42px; /* ボックス内側の余白を設定する */
  }
.label:after {
  position: absolute; /* ボックスの位置を設定する */
  content: ""; /* ボックスのコンテンツ */
  display: block; /* ブロックレベル要素化する */
  top: 50%; /* 上部から配置の基準位置を決める */
  left: 15px; /* 左から配置の基準位置を決める */
  margin-top: -10px; /* チェック枠の位置 */
  width: 1.1em; /* ボックスの横幅を設定する */
  height: 1.1em; /* ボックスの高さを設定する */
  border: 1em solid #aaaaaa; /* ボックスの境界線を実線で設定する */
  border-width: 0.08em;
  border-radius: 50%; /* ボックスの角丸を設定する */
}
.label:before {
  left: 23px; /* 左から配置の基準位置を決める */
  margin-top: -6px; /* チェックマークの位置 */
  width: 3px; /* ボックスの横幅を指定する */
  height: 9px; /* ボックスの高さを指定する */
  border-right: 3px solid lightgreen; /* 境界線（右）のスタイルを指定する */
  border-bottom: 3px solid lightgreen; /* 境界線（下）のスタイルを指定する */
  transform: rotate(35deg); /* 要素を回転させる */
  opacity: 0; /* 要素を透過指定する */
  border-width: 0.1em;
  }
input[type=checkbox]:checked + .label:before {
  opacity: 1; /* 要素を表示する */
}